/* table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th {
  background: #99ccff;
}

th, td {
  padding: 6px;
} */
.login-body {
 
  background-color: rgb(3, 0, 0);
}

.login-card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 5px;
  margin: 0;
  background: rgb(231, 229, 229);
  box-shadow: 0 4px 8px 0 rgb(121, 3, 240), 0 6px 20px 0 hsla(319, 96%, 44%, 0.669);
  border-radius: 20px;
  height: 54vh;
  width:50vh;
  z-index: 4;
}

.form-content{
  margin: 10px;
}
.userbutton {
  margin: 2px;
}