 body {
    color: #333;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.539);
  }
  
  main {
    flex: 1 0 auto;
  }

  #settings-username-form {
    align-items: center;
  }


html,
body {
  height: 100%;
}


table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

th {
  background: #99ffa2;
}

th,
td {
  padding: 6px;
}

